#sliderbox{
	position: relative;
	width: 5000px;
	animation-name: slideranimation;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
#sliderbox img{
	float: left;
	height: 250px;	
	width: 450px;
	z-index: -2;
}
#container{
	overflow:hidden; 
	width: 900px;
	height: 250px;
	position: relative;
}

.text{
	position: absolute;
	z-index: 2;
	font-size: 50px;
color: white;
padding-left: 180px;
background-color: black;
width: 450px;
height: 60px;
margin-top: 170px;
}
/*.background{
	
	float: left;

background-color: black;
width: 450px;
height: 60px;
margin-top: 150px;
z-index: 99;

}*/
@keyframes slideranimation{
	0%
	{
       left: 0px;
	}
	20% /* 4 sec */
	{
		left: 0px;
	}
	25% /* 5sec*/
	{
	    left: -900px;
	}
	45% /* 9 sec*/
	{
		left: -900px;
	}
	50% /* 10 sec*/
	{
		left: -1800px;
	}
	70% /* 14 sec*/
	{
		left: -1800px;
	}
	75% /*15 sec*/
	{
		left: -2700px;
	}
	95%{
		left: -2700px;
	}
	100%{
		left: -3600px;
	}
}